.bgc{
    background: linear-gradient(90deg, #6590c9f6, #232636f1);
  
}
.title{
    text-shadow: 2px 2px 2px #000000;
}

header-site-info {
  margin-top: 5px;
}

#site-name a {
  color: #fff;
  text-decoration: none;
}

#site-name a:hover {
  text-decoration: underline;
}

/* Sidebar */
.sidebar {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
}

.sidebar h4 {
  background: #0d91fd;
  color: white;
  padding: 8px;
  border-radius: 5px;
  font-size: 18px;
}

.sidebar a {
  color: #0d6efd;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background: linear-gradient(90deg, #000000f6, #8496e7f1);
  color: #ddd;
  padding: 30px 0;
}

footer h4 {
  color: #fff;
  margin-bottom: 15px;
}

footer a {
  color: #4e2a2a;
  text-decoration: none;
  transition: 0.3s;
}

footer a:hover {
  color: #193347;
}

footer i {
  font-size: 1.5rem;
  margin-right: 10px;
  transition: 0.3s;
}

footer i:hover {
  color: #681d55;
}

/* Carousel height */
.carousel-item img {
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

  
.site_logo{
    position:absolute;
     /* z-index: 10;   */
     color: rgba(202, 120, 120, 0.822);
    left: 100px;
    top: 60px;
    display: flex;

}
.site_logo h3{
    margin-top: 25px;
  margin-left: 11px;
  font-weight: 700;
}
 .admin_notice{
  background-color: rgb(255, 255, 255);
  border: 1px solid #ffffff;
  padding-left: 60px;
  padding-top: 10px;
}
.admin_notice h3{
  background-color: #1d9be4ee;
}
.p_ple_msg{
    margin-top: 10px;
}
.p_ple_msg p{
    margin: 5px;
}
.p_ple_msg h3{
    background-color: #4f839b;
    padding: 10px;
}
.photo_gallary{
  padding: 5px;
}
 .photo_gallary img{
    transition: 1s linear;

 }
 .photo_gallary img:hover{
    transform: scale(1.5);
 }

.gallery-title{
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #201e1e;
  text-align: center;
  padding: 12px 40px;
  background-color: #0d6efd;
}
.contact-title{
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0c0b0b;
  text-align: center;
  padding: 12px 40px;
  background-color: #0dfd71;
}